<p id="notice"><%= notice %></p>

<table id='locations' data-source="<%= locations_url(format: "json") %>" >
  <thead>
    <tr>
      <th>Time</th>
      <th>User</th>
      <th>Longitude</th>
      <th>Latitude</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>